DATABASE_URL=postgresql://user:pass@host-pooler.region.aws.neon.tech/dbname?sslmode=require&connect_timeout=30
DIRECT_URL=postgresql://user:pass@host.region.aws.neon.tech/dbname?sslmode=require&connect_timeout=30
WHATSAPP_TOKEN=
WHATSAPP_APP_SECRET=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
SUPPLIER_ENABLED=false
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
